<a href="https://colab.research.google.com/github/Yukyung0622/Colab/blob/master/PythonDataWorkspace/Pandas/07_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EC%84%A0%ED%83%9D(loc).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#7.데이터선택(loc)
#이름을 이용하여 원하는 row에서 원하는 col 선택

import pandas as pd


data = {
    '이름' : ['채치수', '정대만', '송태섭', '서태웅', '강백호', '변덕규', '황태산', '윤대협'],
    '학교' : ['북산고', '북산고', '북산고', '북산고', '북산고', '능남고', '능남고', '능남고'],
    '키' : [197, 184, 168, 187, 188, 202, 188, 190],
    '국어' : [90, 40, 80, 40, 15, 80, 55, 100],
    '영어' : [85, 35, 75, 60, 20, 100, 65, 85],
    '수학' : [100, 50, 70, 70, 10, 95, 45, 90],
    '과학' : [95, 55, 80, 75, 35, 85, 40, 95],
    '사회' : [85, 25, 75, 80, 10, 80, 35, 95],
    'SW특기' : ['Python', 'Java', 'Javascript', '', '', 'C', 'PYTHON', 'C#']
}

df = pd.DataFrame(data, index=['1번','2번','3번','4번','5번','6번','7번','8번'])
df.index.name='지원번호'
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python
2번    정대만  북산고  184   40   35   50  55  25        Java
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
4번    서태웅  북산고  187   40   60   70  75  80
5번    강백호  북산고  188   15   20   10  35  10
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   45  40  35      PYTHON
8번    윤대협  능남고  190  100   85   90  95  95          C#

In [2]:
df.loc['1번'] #index 1번에 해당하는 전체 데이터

이름         채치수
학교         북산고
키          197
국어          90
영어          85
수학         100
과학          95
사회          85
SW특기    Python
Name: 1번, dtype: object

In [3]:
df.loc['5번'] #index 5번에 해당하는 전체 데이터

이름      강백호
학교      북산고
키       188
국어       15
영어       20
수학       10
과학       35
사회       10
SW특기
Name: 5번, dtype: object

In [4]:
df.loc['1번', '국어'] #index 1번에 해당하는 국어 데이터

90

In [5]:
df.loc[['1번','2번'], '영어'] #index 1번 2번 해당하는 영어데이터

지원번호
1번    85
2번    35
Name: 영어, dtype: int64

In [6]:
df.loc[['1번','2번'],['영어', '수학']] #index 1번 2번 해당하는 영어, 수학데이터

      영어   수학
지원번호
1번    85  100
2번    35   50

In [7]:
df.loc['1번':'5번', '국어':'사회'] #index 1번부터 5번까지, 국어부터 사회까지 데이터

      국어  영어   수학  과학  사회
지원번호
1번    90  85  100  95  85
2번    40  35   50  55  25
3번    80  75   70  80  75
4번    40  60   70  75  80
5번    15  20   10  35  10